<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat_container">
        <header>RAG with Ollama and LlamaIndex</header>
        <main>

        </main>
        <div class="chatbox">
            <input type="text" placeholder="How can I help you today?" autofocus>
        </div>
        <button>Send</button>
    </div>

</body>
</html>
